
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
   
   
}

.navbar {
    height: 100vh;
    width: 100%;
    background-image: url(/assets/milad-fakurian-MBgK-AHSrVs-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;

}

.nav img {
    width: 120px;
    height: 120px;
    /* cursor: grab; */
    /* transition: transform 0.6s; */
    box-shadow: 2px 2px 15px #000, 0px 0px 20px gray;
}

.nav ul li a {
    text-decoration: none;
    color: rgb(184, 184, 184);
    background-color: transparent;
    padding: 25px;
   

}

.nav ul li {
    color: rgb(184, 184, 184);
    display: inline-block;
    padding: 10px 30px;
    font-size: xx-large;
    font-weight: bolder;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 20px;
    /* transition: transform 0.5s; */
}
.top a{
    text-decoration: none;
    border: 2px solid gray;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px; 
    background-color: gray;
}
.top h2{
    position: absolute;
    color: rgb(184, 184, 184);
    left: 20%;
    top: 20%;
}

.pro{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px;
    left: 20%;
    top:80%;

}
.pro div {
    display: flex;
    background-color: transparent;
    margin: 10px;
    padding: 20px;
   }
   .projects{
    position: absolute;
    top: 40%;
    left:20%;

   }
   .top h2 a{
    color: #000;
    padding-left: 20px;
    padding-right: 15px;
    border: 2px solid transparent;
    line-height: 4;
    background-color: rgb(199, 199, 199);
    /* padding: 15px; */
    border-radius: 30px;
    box-shadow: 2px 2px 15px #000, 0px 0px 20px gray;
}
.grid-container {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 10%;
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto auto;
    background-color: transparent;
    padding: 10px;
}

.grid-item {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 25px;

}
.grid-container a{
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px;
    background-color: transparent;
    border-radius: 30px;
    color: #000;
    font-weight:bold ;
    box-shadow: 2px 2px 15px #000, 0px 0px 20px gray;
}